%script{:type=>'text/javascript', :src=>'user.js'}
%script{:type=>'text/javascript', :src=>'/js/friendpage.js'}

#maincontent
  #header
    %a{:href=>'/'}
      %img{:src=>'/images/logo.png',:id=>'logo'}
    %div{:class=>'followus'}
      %a{:href=>'http://www.twitter.com/friendagon'}
        %img{:src=>'http://twitter-badges.s3.amazonaws.com/t_logo-b.png'}
      %a{:href=>'http://www.twitter.com/friendagon'}
        %span= 'follow us'

  #profileinfo
    %div{:class=>'profile'}
      %img{:src=>'/images/spinner.gif'}
      %div{:class=>'name'}= 'Loading...'
      %div{:class=>'box nofollowback selected'}  
        %span{:class=>'count'}= '0'
        %br
        %span= 'No Followback'
      %div{:class=>'box followbacks'}  
        %span{:class=>'count'}= '0'
        %br
        %span= 'Followbacks'
      %div{:class=>'box fans'}  
        %span{:class=>'count'}= '0'
        %br
        %span= 'Fans'
      %div{:class=>'box following'}
        %span{:class=>'count'}= '0'
        %br
        %span= 'Following'
      %div{:class=>'box followers'}	
        %span{:class=>'count'}= '0'  
        %br
        %span= 'Followers'
      %div{:class=>'tabline kill'}= ' '


  #userlist
    %div{:class=>'user template'}
      %img{:src=>'http://a1.twimg.com/profile_images/79569518/eagle_bigger.jpg'}
      %div{:class=>'name'}
        %a{:href=>'#'}= 'montytwitter'
      %div{:class=>'following'}
        %span= 'following: '
        %span{:class=>'count'}= '245'
      %div{:class=>'followers'}
        %span= 'followers: '
        %span{:class=>'count'}= '333'
      %div{:class=>'button'}= 'Stop Following'
    %div{:style=>'clear:all;'}
