%script{:type=>'text/javascript', :src=>'user.js'}
%script{:type=>'text/javascript', :src=>'/js/friendpage.js'}

#maincontent
  #header
    %a{:href=>'/'}
      %img{:src=>'/images/logo.png',:id=>'logo'}
    

  #profileinfo
    %div{:class=>'profile'}
      %div{:class=>'details'}
        %div{:class=>'followbackpercent'}
          %div{:class=>'tooltip down'}= 'Probability that this person will follow you back if you follow them.'
          %div{:class=>'label'}= 'FOLLOWBACK LIKELIHOOD: '
          %div{:class=>'count'}= '0%'
        %div{:class=>'topsyinfluence'}
          %div{:class=>'tooltip down'}= 'Influence Rating given by topsy.com (scale of 0-10)'
          %div{:class=>'label'}= 'TOPSY INFLUENCE:'
          %div{:class=>'count'}= '0'
        %div{:class=>'followmanager'}  
          %div{:class=>'follow'}= '+'
          %div{:class=>'unfollow'}= '-'
      %img{:src=>'/images/spinner.gif'}
      %div{:class=>'name'}= 'Loading...'
      %div{:class=>'box nofollowback selected'}
        %div{:class=>'tooltip'}= 'People this person follows but do not follow back.'  
        %span{:class=>'count'}= '0'
        %br
        %span= 'No Followback'
      %div{:class=>'box followbacks'}
        %div{:class=>'tooltip'}= 'People this person follows and do follow back.'  
        %span{:class=>'count'}= '0'
        %br
        %span= 'Followbacks'
      %div{:class=>'box fans'}
        %div{:class=>'tooltip'}= 'People that follow this person that this person does not follow.'  
        %span{:class=>'count'}= '0'
        %br
        %span= 'Fans'
      %div{:class=>'box following'}
        %div{:class=>'tooltip'}= 'People this person follows.'
        %span{:class=>'count'}= '0'
        %br
        %span= 'Following'
      %div{:class=>'box followers'}
        %div{:class=>'tooltip'}= 'People that are following this person.'	
        %span{:class=>'count'}= '0'  
        %br
        %span= 'Followers'
      %div{:class=>'tabline kill'}

  #errorbox
    %span= ''

  #progressbox
    #progressoutline
      #progressbar
    #progressstatus
      %span= 'Calculating Social Graph...'

  #userlist
    %div{:class=>'user template'}
      %img{:src=>'http://a1.twimg.com/profile_images/79569518/eagle_bigger.jpg'}
      %div{:class=>'name'}
        %a{:href=>'#'}= 'montytwitter'
        %span{:class=>'notify'}
      %div{:class=>'following'}
        %span= 'following: '
        %span{:class=>'count'}= '245'
      %div{:class=>'followers'}
        %span= 'followers: '
        %span{:class=>'count'}= '333'
      %div{:class=>'followtoggle'}
        %div{:class=>'button plus'}= '+'
        %div{:class=>'button minus'}= '-'
    %div{:style=>'clear:all;'}

  #authbox
    %h1 Please sign in with Twitter
    %p Please click on the button below to sign in to Friendagon via Twitter.
    %div{:class=>'cancellink'}
      %a{:onClick=>'hideAuthenticate();return false;'}= 'Cancel'
      %span= ' or'
    %a{:onClick=>'openAuthenticateBox();return false;',:href=>"#"}
      %img{:src=>'http://apiwiki.twitter.com/f/1242697715/Sign-in-with-Twitter-darker.png'}
    
