#maincontent

  #header
    %div{:class=>'followus'}
      %a{:href=>'http://www.twitter.com/friendagon'}
        %img{:src=>'http://twitter-badges.s3.amazonaws.com/t_logo-b.png'}
      %a{:href=>'http://www.twitter.com/friendagon'}
        %span= 'follow us'
  
  #homesearch
    %img{:src=>'/images/logo.png',:id=>'logo'}
    %div{:class=>'instructions'}
      %span{:class=>'prompt'}= "Twitter Screen Name:"
      %input{:type=>'text',id=>'q'}
      %div{:class=>'go'}= "GO"
 
  %div{:class=>'kill'}

  #recent
    %h1= "Recent Searches"
    %div{:class=>'item'}
      %img{:src=>'http://a3.twimg.com/profile_images/647531397/dick_profile_bigger.png'}
      %span{:class=>'name'}= '<a href="#">somebody</a>'
      %div{:class=>'stats'}
        %div{:class=>'fans'}
          %span= 'Fans: '
          %span{:class=>'count'}= '389'
        %div{:class=>'followback'}
          %span= 'Followbacks: '
          %span{:class=>'count'}= '405'
        %div{:class=>'nofollowback'}
          %span= 'No Followback: '
          %span{:class=>'count'}= '342'

    %div{:class=>'item'}
      %img{:src=>'http://a3.twimg.com/profile_images/647531397/dick_profile_bigger.png'}
      %span{:class=>'name'}= '<a href="#">somebody</a>'
      %div{:class=>'stats'}
        %div{:class=>'fans'}
          %span= 'Fans: '
          %span{:class=>'count'}= '389'
        %div{:class=>'followback'}
          %span= 'Followbacks: '
          %span{:class=>'count'}= '405'
        %div{:class=>'nofollowback'}
          %span= 'No Followback: '
          %span{:class=>'count'}= '342'

    %div{:class=>'item'}
      %img{:src=>'http://a3.twimg.com/profile_images/647531397/dick_profile_bigger.png'}
      %span{:class=>'name'}= '<a href="#">somebody</a>'
      %div{:class=>'stats'}
        %div{:class=>'fans'}
          %span= 'Fans: '
          %span{:class=>'count'}= '389'
        %div{:class=>'followback'}
          %span= 'Followbacks: '
          %span{:class=>'count'}= '405'
        %div{:class=>'nofollowback'}
          %span= 'No Followback: '
          %span{:class=>'count'}= '342'

    %div{:class=>'item'}
      %img{:src=>'http://a3.twimg.com/profile_images/647531397/dick_profile_bigger.png'}
      %span{:class=>'name'}= '<a href="#">somebody</a>'
      %div{:class=>'stats'}
        %div{:class=>'fans'}
          %span= 'Fans: '
          %span{:class=>'count'}= '389'
        %div{:class=>'followback'}
          %span= 'Followbacks: '
          %span{:class=>'count'}= '405'
        %div{:class=>'nofollowback'}
          %span= 'No Followback: '
          %span{:class=>'count'}= '342'




